<div class="container col-md-8 mt-5">
   <form action="/lego/edit/{{Lego._id}}" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Edit lego</h2>
      <div class="form-group">
         <label class="text-success h6">lego Name</label>
         <input class="form-control" type="text" name="name" value="{{Lego.name}}" required minlength="3"
            maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">lego price</label>
         <input class="form-control" type="number" name="price" value="{{Lego.price}}" required minlength="3"
            maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6"> Image</label><br>
         <img src="{{Lego.image}}" width="100" height="100">
         <input class="form-control mt-3" type="text" name="image" value="{{Lego.image}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">lego year</label>
         <input class="form-control" type="text" name="year" value="{{Lego.year}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6"> country</label>
            <input class="form-control" type="text" name="country" value="{{Lego.country}}" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <input class="btn btn-primary mt-3" type="submit" value="Edit">
      </div>
   </form>
</div>