<div class="row">
   <div class="col">
      <img class="img-thumbnail" src="{{Lego.image}}" width="350" height="350">
   </div>
   <div class="col">
      <table class="table table-bordered text-center mt-4">
         <tr>
            <th colspan="2" class="text text-bg-success">Lego INFO</th>
         </tr>
         <tr>
            <th >Name</th>
            <th>{{Lego.name}}</th>
         </tr>
         <tr>
            <th>price</th>
            <th>{{Lego.price}}</th>
         </tr>
         <tr>
            <th>content</th>
            <th>{{Lego.content}}</th>
         </tr>
         <tr>
            <th>year</th>
            <th>{{Lego.year}}</th>
         </tr>
         <tr>
            <th>country</th>
            <th>{{Lego.country}}</th>
         </tr>

      </table>
   </div>
</div>